*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(69, 69, 110);
}

.fas{
    color: white;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.counter-container{
    padding: 30px;
}

.para{
    color: white;
    text-align: center;
    font-size: 35px;
}

.counter{
    font-size: 72px;
    color: #ffcd39;
    padding: 12px;
}